body
{
  background-color: yellow;
}
p
{
  font-size: 36px;
}

.redText
{
  color: red;
}
.italics
{
  font-style: italic;
}
#JustOnce
{
  font-weight: bolder;
}
.diffFont
{
  font-family: "Spectral", Arial, sans-serif;
  text-align: right;
}
